<h1> Employee Show Page </h1>

<h2><%= @employee.first_name %></h2> <br>
<h3><%= @employee.last_name %></h3> <br>
<h4><%= @employee.alias %></h4> <br>
<%= @employee.title %><br>
<%= @employee.office %><br>
<%= @employee.dog.name %><br>
<img src="<%= @employee.img_url%>" 
